<h1>Add a new photo</h1>

<% if @photo.errors.any? %>
  <ul class = "text-danger list-style-none">
   <%  for err in @photo.errors.full_messages %>
    <li>
      <%= err%>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron">
  <div class="signup">
    <%= simple_form_for([@current_user, @photo], html: {class: 'form-horizontal' }) do |f|%>
    <div class="form-group">
      <%= f.input(:title, autofocus: true, class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.uploadcare_field (:url) %>
    </div>

    <div class="form-group">
      <%= f.input(:price) %>
    </div>

    <div class="form-group">
      <p id="tags">Tags:</p>
      <% @categories.each do |c| %>
      <%= f.check_box(:categories, {checked: @photo.categories.include?(c), multiple: true}, c.id.to_i, nil) %>
      <%= c.name %>
      <% end %>
    </div>

    <%= f.button :submit, "Add a photo!", class: "btn btn-lg btn-info" %>
    <% end %>
  </div>

</div>

