<h1>Photos#show</h1>


<h1>Photo detail page</h1>

<p>
 <%= image_tag (@photo.url) %>
</p>

<p>
 Title: <%= @photo.title %>
</p>

<p>
 Price: <%= @photo.price %>
</p>

<% if @current_user.id == params[:user_id].to_i %>
	<%= link_to("Edit", edit_user_photo_path(@current_user, @photo)) %>
	<br>
	<%= link_to 'Delete',  user_photo_path(@current_user, @photo.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

