<br>
<br>
<div class="container">
<h1>Photos#show</h1>
	<div class="row">
	  <div class="col-sm-12">
	    <div class="thumbnail">
	      <%= image_tag ("#{@photo.url}-/resize/700x/")%>
	      <div class="caption">
	        <h3><%= @photo.title %></h3>
	        <h3>
	        	Price: <small><%= @photo.price %></small>
	        </h3>

	        <h4>
	        	Tags: 
	        	<% @photo.categories.each do |c| %>
	        	<li><small><%= c.name %></small></li>
	        	<% end %>
	        </h4>
	        <% if @current_user.id == params[:user_id].to_i %>
	        <%= link_to("Edit", edit_user_photo_path(@current_user, @photo)) %>
	        <br>
	        <%= link_to 'Delete',  user_photo_path(@current_user, @photo.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>
</div>
